body {
  font-family: "Oswald", sans-serif;
}

.container {
  border: 1px solid red;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 650px;
  margin-top: 40px;
  background: linear-gradient(
    to right,
    rgba(252, 182, 159, 0.5) 0%,
    rgba(255, 236, 210, 0.8) 100%
  );
}

.open-code {
  margin: 0 auto;
  max-width: 650px;
  margin-top: 10px;
  margin-bottom: 70px;
}

a {
  color: #44a2c4;
}

a:hover {
  color: #058671;
}
