.Forecast h6 {
  color: #d84251;
  font-weight: bolder;
  text-align: center;
}

.Forecast .forecast-five {
  border: 1px solid rgba(226, 131, 76, 0.5);
  border-radius: 10px;
  background: rgb(245, 184, 155);
  padding-top: 10px;
  padding-bottom: 25px;
}

.Forecast p {
  margin-top: 8px;
  text-align: center;
}

.Forecast canvas {
  margin: 0 auto;
  display: block;
}
